@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

.app-container {
  height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
}

.header {
  grid-column: 3 / -1;
  padding: 20px 10px;
}

.header .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search-bar .input {
  width: 50%;
  background-color: #e5e4e2;
  outline: none;
  border: none;
  border-radius: 20px;
  margin-left: auto;
  padding: 10px 5px;
  text-indent: 15px;
}

.header .search-bar .search-icon {
  position: absolute;
  font-size: 20px;
  right: 25px;
  top: 27px;
}

.main {
  grid-column: 3 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  overflow: auto;
}

.main .main_section_songList {
  padding: 0 20px;
}

.main .banner {
  text-align: center;
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
}

.main .banner img {
  width: 60%;
  height: 100%;
}

.main .song-list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .song-list-header a {
  text-decoration: none;
  color: #848884;
}

.main .song-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  border-right: 1px solid #e5e4e2;
  height: 100vh;
}

.nav .logo {
  margin-top: 20%;
}

.nav .logo img {
  width: 100%;
  cursor: pointer;
}

.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav ul {
  list-style-type: none;
  padding: 25px 15px;
}

.nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
}

.nav ul li.active {
  font-weight: bold;
  color: red;
}

.nav ul a {
  margin-left: 10%;
  margin-top: -2%;
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.nav ul a.active {
  font-weight: bold;
  color: red;
}

.nav span {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1em;
  color: #848884;
}

.audio-player {
  grid-column: 3 / -1;
  grid-row: 3 / -1;
  padding: 10px 20px;
  border-top: 1px solid #e5e4e2;
}

.audio-player .song-info {
  text-align: center;
}

.audio-player .song-info img {
  max-width: 10%;
  border-radius: 50%;
}

.audio-player .song-info h2, .audio-player .song-info h3 {
  margin: 0;
  padding: 5px 0;
}

.audio-player .music-player {
  width: 100%;
}

.audio-player .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.audio-player .buttons .buttons_btn {
  border: none;
  background: transparent;
  font-size: 3em;
}

.pages_heading {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

table {
  width: 100%;
}

table tr {
  text-align: center;
  cursor: pointer;
}

table tr:hover {
  background-color: #e5e4e2;
}

.artist_img {
  width: 60px;
  height: 60px;
}
/*# sourceMappingURL=App.css.map */